<div class="container">
  <h1> <%= @clothe.title %> </h1>
  <%# commented line <h2> <strong> <%= Clothe.find(params[:clothe_id]).price € </strong> per day </h2> %>
<%= simple_form_for [@clothe, @booking],
                    html: {
                      data: {
                        controller: 'flatpickr'
                      }
                    } do |f| %>
  <%= f.input :start_date,
              as: :string,
              input_html: {
                data: {
                  flatpickr_target: 'startDateInput',
                }
              } %>
  <%= f.input :end_date,
              as: :string,
              input_html: {
                class: '',
                data: {
                  flatpickr_target: 'endDateInput'
                }
              } %>
   <%= f.input :status, as: :select, collection: [['Yes',true], ['No',false]] %>
  <%= f.submit "Book", class: "btn btn-primary" %>
  <p>No amount will be debited at this time</p>
  <p> <strong> Total <%= @clothe.price %> € </strong> </p>
<% end %>
  <%= link_to "Back", clothe_path(params[:clothe_id]), class: "btn btn-primary" %>
</div>
