<div class="container">
  <h1>Your booking for <%= @clothe.title %> </h1>
  <p> Lent by <%= @booking.user.first_name %> </p>
  <div class="card">
    <p> Booked from : <%= @booking.start_date %> To : <%= @booking.end_date %></p>
    <p> Category : <%= @clothe.category %></p>
    <p> Details : <%= @clothe.description %></p>
  </div>
<%= link_to "Back to my bookings", dashboard_path, class: "btn btn-primary" %>
</div>
