    <!-- Your content -->
    <div class="container">
      <h1><strong>Rented -</strong>Catalog</h1>
      <div class="clothes">
          <% @clothes.each do |c| %>
            <div class="card-product" %>
              <%= c.title %>
              <%= cl_image_tag c.photo.key,  width: 400, height: 300, crop: :fill%>
                <div class="card-product-infos">
                    <%= c.description %>
                    <p> <strong> <%= c.price %> € </strong> </p>
                </div>
              <p><%= link_to "Show this piece of clothe", clothe_path(c.id), class: "btn btn-primary" %> </p>
              <p><%= link_to "Delete", clothe_path(c.id), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </p>
          </div>
          <% end %>
      </div>
    <%= link_to "Create a new piece of clothe", new_clothe_path, class: "btn-clothes" %>
    </div>

    <!-- Your script tags here -->
    <!-- <script src="first_file.js"></script> -->
    <!-- <script src="other_file.js"></script> -->
