<html>
  <head>
 <title>Rented - Change clothes as you walk</title>
    <meta name="description" content="Rent & Lend your clothes">
    <meta charset="utf-8">
  </head>
  <body>
    <!-- Your content -->
    <div class="container">
      <h1><strong>Rented -</strong>Catalog</h1>
      <div class="clothes">
        <ul>
          <% @clothes.each do |c| %>
          <li>
            <div class="card-product" style="background-image: #F3C3BC" %>
              <%= c.title %>
              <%= cl_image_tag c.photo.key,  width: 400, height: 300, crop: :fill%>
              <div class="card-product-infos">
              <%= c.description %>
              <p> <strong> <%= c.price %> € </strong> </p>
            </div>
              <p>
                <%= link_to "Show this piece of clothe", clothe_path(c.id), class: "btn btn-primary" %>
                <%= link_to "Delete", clothe_path(c.id), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </p>
      </div>
          </li>
          <% end %>
        </ul>

        <p>
            <%= link_to "Create a new piece of clothe", new_clothe_path, class: "btn btn-primary" %>
        </p>
      </div>
    </div>

    <!-- Your script tags here -->
    <!-- <script src="first_file.js"></script> -->
    <!-- <script src="other_file.js"></script> -->
  </body>
</html>
