<h1>New piece of clothe</h1>
<div class="container">
  <h1>Create your new piece of clothe that you want to rent:</h1>
  <%= simple_form_for @clothe do |b| %>
  <%= b.input :title, placeholder: "Choose a title for your piece of clothe" %>
  <%= b.input :description, placeholder: "Describe your piece of clothe" %>
  <%= b.input :category, placeholder: "Choose the category of clothes" %>
  <%= b.number_field :price, placeholder: "Choose the price you want to rent at" %>
  <%= b.submit "Add", class: "btn btn-primary" %>
  <% end %>

  <p>
      <%= link_to "Show all clothes", clothes_path, class: "btn btn-primary" %>
    </p>
</div>
